<div class="contact_form">
    {form newForm class => "ajax contact_form"}

        <!-- Jednoduché vykreslení chyb -->
        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>

        <p>{label title /}{input title class => "text"}</p>
        <p>{input text }</p>
        <p>{label files /}</p>{input files}
        <p>{input submit class => "btn btn-lg btn-default" }</p>
    {/form}
</div>