{block content}
    <div class="single_page_content fix">
        {foreach $news as $new}
            <div class="camp_new">
                <h1>{$new->title}</h1>
                <blockquote>
                    {$new->datetime|date:'j. n. Y'}
                </blockquote>
                <p>{$new->text|noescape}</p>
                {ifset $new->photos}
                    {var $pictures = $new->photos}
                        {foreach $pictures as $photo}
                            <a href="{$basePath}/images/gallery/news/{$photo->name}"><img
                                        class="img-rounded" src="{$basePath}/images/gallery/news/thumbnail/{$photo->name}" ></a>
                            <br>
                        {/foreach}
                {/ifset}
                {ifset $new->youtube_video}
                    <iframe width="450" height="280" src="//www.youtube.com/embed/{$new->youtube_video}" frameborder="0" allowfullscreen=""></iframe>
                {/ifset}
            </div>
        {/foreach}
    </div>
    <div class="pagination fix">
        <span><b>Starší novinky: </b></span>
        {for $i = 1; $i <= $newsPagesCount; $i++}
            {if $paginator->page == $i}
                <a href="/" onclick="return false;" class="visited_page">{$i}</a>
            {else}
                <a href="{plink :Front:Homepage:default $i}">{$i}</a>
            {/if }
        {/for}
    </div>
    </div>
{/block}
{block scripts}
{/block}
{block head}
{/block}