.DS_Store
.idea
log
temp
readme.txt
www/images/gallery/history/*.png
www/images/gallery/history/*.jpg
www/images/gallery/history/thumbnail/*.png
www/images/gallery/history/thumbnail/*.jpg
www/images/gallery/location/*.png
www/images/gallery/location/*.jpg
www/images/gallery/location/thumbnail/*.png
www/images/gallery/location/resized/*.jpg
www/images/gallery/location/thumbnail/*.jpg
www/images/gallery/location/resized/*.png
www/images/gallery/news/*.png
www/images/gallery/news/*.jpg
www/images/gallery/news/thumbnail/*.png
www/images/gallery/news/resized/*.jpg
www/images/gallery/news/thumbnail/*.jpg
www/images/gallery/news/resized/*.png
