{block sidebar}

{/block}

{block content}
    <h1>Táborová historie</h1>

    <h2>Vložit nový zápisek</h2>
    {control newHistoryFormComponent}

    <h2>Přehled historických zápisků</h2>
    <table class="table table-bordered">

        {foreach $terms as $term}
            <tr>
                <td>{$term->year}</td>
                <td>{$term->title}</td>
                <td>{$term->text}</td>
                <td><a href="{plink :Admin:History:edit $term->id}" title="Upravit">Upravit</a></td>
                <td><a href="{plink :Admin:History:remove $term->id}" title="Smazat">Smazat</a></td>
            </tr>
        {/foreach}
    </table>
{/block}
{block scripts}
{/block}
{block head}
{/block}