<div class="contact_form">
    {form warningsForm class => "ajax contact_form"}
        <p>{label title /}{input title class => "text"}</p>
        <p>{input text }</p>
        <p>{input submit class => "btn btn-lg btn-default" }</p>
    {/form}
</div>