{block sidebar}

{/block}

{block content}
    <div class="jumbotron">
        <h1>Vítejte v administraci, pivníci.</h1>
        <p>Z horního menu můžete upravovat jednotlivé sekce, co jsou na webu.</p>
    </div>
{/block}
{block scripts}
{/block}
{block head}
{/block}