	services:

		contactFormComponentFactory:
			implement: \FrontModule\Components\IContactFormComponentFactory
			setup:
			    - setMailer(@nette.mailer)

		newComponentFactory:
			implement: \FrontModule\Components\INewComponentFactory

		historyComponentFactory:
			implement: \FrontModule\Components\IHistoryComponentFactory

		warningComponentFactory:
			implement: \FrontModule\Components\IWarningComponentFactory

		currentCampComponentFactory:
			implement: \FrontModule\Components\ICurrentCampComponentFactory

		signComponentFactory:
			implement: \AdminModule\Components\ISignComponentFactory