	services:

		contactFormComponentFactory:
			implement: \FrontModule\Components\IContactFormComponentFactory
			setup:
			    - setMailer(@nette.mailer)

		newComponentFactory:
			implement: \FrontModule\Components\INewComponentFactory
			inject: yes
			setup:
				- setUploadDir(%uploader.uploadNewsDir%)
				- setThumbnail(%uploader.thumbnail%)
				- setResized(%uploader.resized%)

		historyComponentFactory:
			implement: \FrontModule\Components\IHistoryComponentFactory
			inject: yes
			setup:
				- setUploadDir(%uploader.uploadHistoryDir%)
				- setThumbnail(%uploader.thumbnail%)
				- setResized(%uploader.resized%)

		locationComponentFactory:
			implement: \FrontModule\Components\ILocationComponentFactory
			inject: yes
			setup:
				- setUploadDir(%uploader.uploadLocationDir%)
				- setThumbnail(%uploader.thumbnail%)

		warningComponentFactory:
			implement: \FrontModule\Components\IWarningComponentFactory

		currentCampComponentFactory:
			implement: \FrontModule\Components\ICurrentCampComponentFactory
			inject: yes
			setup:
				- setUploadDir(%uploader.uploadPosterDir%)

		signComponentFactory:
			implement: \AdminModule\Components\ISignComponentFactory