parameters:

		database:
			driver: mysql
			host: "127.0.0.1"
			database: "smrcna"
			user: "root"
			password: "root"

dibi:
	driver: %database.driver%
	host: %database.host%
	database: %database.database%
	username: %database.user%
	password: %database.password%
