parameters:

		database:
			driver: mysqli
			host: "127.0.0.1"
			database: "smrcna"
			user: "tabor"
			password: "heslo"

		smtpCredentials:
			username: "blah"
			password: "blah"

dibi:
	driver: %database.driver%
	host: %database.host%
	database: %database.database%
	username: %database.user%
	password: %database.password%
