parameters:

		database:
			driver: mysql
			host: "#<<!DB_HOST!>>#"
			database: "#<<!DB_NAME!>>#"
			user: "#<<!DB_USERNAME!>>#"
			password: "#<<!DB_PASSWORD!>>#"

		smtpCredentials:
			username: "#<<!SMTP_USER!>>#"
			password: "#<<!SMTP_PASS!>>#"

dibi:
	driver: %database.driver%
	host: %database.host%
	database: %database.database%
	username: %database.user%
	password: %database.password%
