#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error


session:
	expiration: 14 days

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

includes:
	- models.neon
	- components.neon

services:
	authenticator:
		class: Security\Authenticator(@Models\SecurityActionModel, @Models\Security\SecurityManager)

	authorizator:
		class: Security\Permission

	routerFactory:
		class: App\Router\RouterFactory

	router: @routerFactory::createRouter()
