	services:
		newsRepository:
			class: \Models\Repositories\MySql\NewsRepository

		newsModel:
			class: \Models\NewsModel

		historyRepository:
			class: \Models\Repositories\MySql\HistoryRepository

		historyModel:
			class: \Models\HistoryModel