<div class="contact_form">
    {form currentCampForm class => "ajax contact_form"}
        <p>{label poster /}</p> {input poster}
        <p>{input text }</p>
        <p>{input submit class => "submit" }</p>
    {/form}
</div>