<div class="contact_form">
    {form currentCampForm class => "ajax contact_form"}
        <p>{input poster class => "text"}</p>
        <p>{input text }</p>
        <p>{input submit class => "submit" }</p>
    {/form}
</div>