{block sidebar}

{/block}

{block content}
    <h1>Tábory</h1>

    <h2>Vložení informace o aktuálním termínu</h2>
    {control currentCampFormComponent}

    <h2>Přehled všech termínů v databázi</h2>
    {if $current != null}
        <table>
        {foreach $current as $cur}
            <tr>
                <td>{$cur->year}</td>
                <td>{$cur->text}</td>
                <td><a href="{plink :Admin:Currently:edit $cur->id}" title="Upravit">Upravit</a></td>
                <td><a href="{plink :Admin:Currently:activate $cur->id}" title="Aktivovat termín pro web">Aktivovat termín pro web</a></td>
            </tr>
        {/foreach}
        </table>
    {else}
        V DB není žádný termín.
    {/if}
{/block}
{block scripts}
{/block}
{block head}
{/block}