{block sidebar}

{/block}

{block content}
    <h1>Vložení nového termínu</h1>

    {control currentCampFormComponent}

    {if $current != null}
        <tr>
            <td>{$current->year}</td>
            <td>{$current->text}</td>
            <td><a href="{plink :Admin:Currently:edit $current->id}" title="Upravit">Upravit</a></td>
        </tr>
    {else}
        V DB není žádný termín.
    {/if}
{/block}
{block scripts}
{/block}
{block head}
{/block}