{block sidebar}
{/block}

{block content}
    <h1>Editace informací o aktuálním terínu</h1>

    {control editCurrentCampFormComponent}

{/block}
{block scripts}
{/block}
{block head}
{/block}