{form searchForm class => "ajax film-category__intro__search"}
    {input searchText class => "film-category__intro__search__input"}
    {input submit class => "film-category__intro__search__submit"}
{/form}