{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
    <title>{ifset title}{include title|striptags} | {/ifset}Nette Sandbox</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{$basePath}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{$basePath}/font/font.css">
    <link href="{$basePath}/css/style.css" rel="stylesheet" media="screen">
    <link href="{$basePath}/css/responsive.css" rel="stylesheet" media="screen">

    <!-- SlidesJS Optional: If you'd like to use this design -->
    <style>
        #slides .slidesjs-navigation {
            margin-top: 1px;
        }

        a.slidesjs-next,
        a.slidesjs-previous,
        a.slidesjs-play,
        a.slidesjs-stop {
            background-image: url({$basePath}/images/top/btns-next-prev.png);
            background-repeat: no-repeat;
            display: block;
            width: 12px;
            height: 18px;
            overflow: hidden;
            text-indent: -9999px;
            float: left;
            margin-right: 5px;
            visibility: hidden;
        }

        a.slidesjs-next {
            margin-right: 10px;
            background-position: -12px 0;
        }

        a:hover.slidesjs-next {
            background-position: -12px -18px;
        }

        a.slidesjs-previous {
            background-position: 0 0;
        }

        a:hover.slidesjs-previous {
            background-position: 0 -18px;
        }

        a.slidesjs-play {
            width: 15px;
            background-position: -25px 0;
        }

        a:hover.slidesjs-play {
            background-position: -25px -18px;
        }

        a.slidesjs-stop {
            width: 18px;
            background-position: -41px 0;
        }

        a:hover.slidesjs-stop {
            background-position: -41px -18px;
        }

        .slidesjs-pagination {
            margin: 7px 0 0;
            float: right;
            list-style: none;
        }

        .slidesjs-pagination li {
            float: left;
            margin: 0 1px;
        }

        .slidesjs-pagination li a {
            display: block;
            width: 13px;
            height: 0;
            padding-top: 13px;
            background-image: url({$basePath}/images/top/pagination.png);
            background-position: 0 0;
            float: left;
            overflow: hidden;
            visibility: hidden;
        }

        .slidesjs-pagination li a.active,
        .slidesjs-pagination li a:hover.active {
            background-position: 0 -13px
        }

        .slidesjs-pagination li a:hover {
            background-position: 0 -26px
        }

        #slides a:link,
        #slides a:visited {
            color: #333
        }

        #slides a:hover,
        #slides a:active {
            color: #9e2020
        }

        .navbar {
            overflow: hidden
        }
    </style>
    <!-- End SlidesJS Optional-->

    <!-- SlidesJS Required: These styles are required if you'd like a responsive slideshow -->
    <style>
        #slides {
            display: none
        }

        .container {
            margin: 0 auto
        }

        /* For tablets & smart phones */
        @media (max-width: 767px) {
            body {
                padding-left: 20px;
                padding-right: 20px;
            }

            .container {
                width: auto
            }
        }

        /* For smartphones */
        @media (max-width: 480px) {
            .container {
                width: auto
            }
        }

        /* For smaller displays like laptops */
        @media (min-width: 768px) and (max-width: 979px) {
            .container {
                width: 724px
            }
        }

        /* For larger displays */
        @media (min-width: 1200px) {
            .container {
                width: 1170px
            }
        }
    </style>
    <!-- SlidesJS Required: -->

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{$basePath}/js/jquery.slides.min.js"></script>
    <script>
        $(function () {
            $("#slides").slidesjs({
                width: 900,
                height: 300,
                play: {
                    active: true,
                    auto: true,
                    interval: 6000,
                    swap: true,
                    effect: "fade"
                }
            });
        });
    </script>

    {block head}{/block}
</head>

<body>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

<div class="fix header_area">
    <div class="fix wrap header">
        <div class="logo floatleft">
            <h1>Letní dětský tábor Smrčná</h1>
        </div>
        <div class="manu floatright">
            <ul id="nav-top">
                <li><a href="{plink :Front:Homepage:default}" title="Zpět na úvodní stránku">Aktuálně</a></li>
                <li><a href="{plink :Front:Camp:default}" title="Aktuální táborový běh">Tábor 2017</a></li>
                <li><a href="{plink :Front:Location:default}" title="Kde přesně se tábor nachází?">Lokalita</a></li>
                <li><a href="{plink :Front:About:default}" title="Historie tábora ve Smrčné nad Sázavou">Historie</a>
                </li>
                <li><a href="{plink :Front:Contact:default}" title="Kontakt">Kontakt</a></li>
            </ul>
        </div>
    </div>
</div>
<!--Clean template by WpFreeware.com-->
<div class="fix content_area">
    <div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
    <div class="fix top_add_bar">
        <div id="slides">
            <img src="{$basePath}/images/top/try1.jpg">
            <img src="{$basePath}/images/top/try2.jpg">
            <img src="{$basePath}/images/top/try3.jpg">
            <img src="{$basePath}/images/top/try5.jpg">
            <img src="{$basePath}/images/top/try6.jpg">
            <img src="{$basePath}/images/top/try7.jpg">
        </div>
    </div>
    <div class="fix wrap content_wrapper">
        <div class="fix content">
            <div class="fix main_content floatleft">
                {include content}
                <!-- NEPREHLEDNETE START -->
                <div class="fix sidebar floatright">
                    <div class="fix single_sidebar">
                        <div class="popular_post fix">
                            <h2>Nepřehlédněte</h2>
                            <div class="fix single_popular">
                                <img src="{$basePath}/images/warning.png" class="floatleft"/>
                                <h2>{$warning->title}</h2>
                                <p>{$warning->text|noescape}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- NEPREHLEDNETE END -->
                <!-- TIMELINE START -->
                <div class="fix sidebar floatright">
                    <div class="fix single_sidebar">
                        <div class="popular_post fix">
                            <h2>(Skoro) živě z tábora</h2>
                            <div class="fix single_popular">
                                <img src="images/popular.png" class="floatleft"/>
                                <h2>Vestibum Malesuada Etiam Magna</h2>
                                <p>12 Nov, 2012</p>
                            </div>
                            <div class="fix single_popular">
                                <img src="images/popular.png" class="floatleft"/>
                                <h2>Vestibum Malesuada Etiam Magna</h2>
                                <p>12 Nov, 2012</p>
                            </div>
                            <div class="fix single_popular">
                                <img src="images/popular.png" class="floatleft"/>
                                <h2>Vestibum Malesuada Etiam Magna</h2>
                                <p>12 Nov, 2012</p>
                            </div>
                        </div>
                    </div>
                    <div class="fix single_sidebar">
                        <h2>Odkazy</h2>
                        <p><a href="http://www.ddmjihlava.cz/"><img class="displayed" src="{$basePath}/images/ddm.png"
                                                                    alt="Dům dětí a mládeže Jihlava." border="0"
                                                                    width="90px"></a></p>
                        <p><a href="http://www.detske-tabory.info"
                              title="Letní dětské tábory, katalog rekreací pro děti."><img class="displayed"
                                                                                           src="http://detske-tabory.info/zvyhodneni/ikonka.php?zvyhodni=491"
                                                                                           alt="Letní dětské tábory, ktalog rekreací pro děti.."
                                                                                           width="90px" height="31"
                                                                                           border="1"/></a></p>
                        <p><a href="http://www.taboreni.cz/tabor/?zdroj=829" title="Dětský tábor"><img class="displayed"
                                                                                                       src="http://icon.taboreni.cz/1/829/125x62-d-t.png"
                                                                                                       alt="Dětský tábor"
                                                                                                       width="90px"></a>
                        </p>
                    </div>
                    <!-- TIMELINE END -->
                </div>
            </div>
        </div>
    </div>
    <!--Clean template by WpFreeware.com-->
    <div class="fix footer_top_area">
        <div class="fix footer_top wrap">
            <div class="fix footer_top_container">
                <div class="fix single_footer floatleft">
                    <h2>Pořadatel</h2>
                    <p>DDM Jihlava</p>
                    <p>Brněnská 670/46, 586 01, Jihlava</p>
                    <p><a href="www.ddmjihlava.cz" target="_blank">www.ddmjihlava.cz</a></p>
                    <p>tel.: 567303521</p>
                </div>
                <div class="fix single_footer floatright">
                    <div class="popular_post fix">
                        <h2>Kontakty</h2>
                        <div class="fix single_popular">
                            <img src="{$basePath}/images/link1.png" class="floatleft"/>
                            <a href="">
                                <h2>Napište nám email</h2>
                            </a>
                        </div>
                        <div class="fix single_popular">
                            <img src="{$basePath}/images/link2.png" class="floatleft"/>
                            <a href="https://www.facebook.com/taborsmrcna/" target="_blank">
                                <h2>Staňte se fanoušky na facebooku</h2>
                            </a>
                        </div>
                        <div class="fix single_popular">
                            <img src="{$basePath}/images/link4.png" class="floatleft"/>
                            <a href="https://www.youtube.com/channel/UCPpWoBYBXl3IIIEFilFt4hA" target="_blank">
                                <h2>Podívejte se na náš kanál na youtube</h2>
                            </a>
                        </div>
                        <div class="fix single_popular">
                            <img src="{$basePath}/images/link5.png" class="floatleft"/>
                            <a href="http://taborsmrcna.rajce.idnes.cz/" target="_blank">
                                <h2>Podívejte se na náše fotky na rajče.net</h2>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fix footer_area">
        <div class="wrap">
            <div class="fix copyright_text floatleft">
                <p>Based on <a href="http://www.wpfreeware.com" rel="nofollow">WpFreeware</a> template</p>
            </div>
            <div class="fix copyright_text floatright">
                <p>Stránky již navštívilo XY návštěvníků.</p>
            </div>
        </div>
    </div>

    {block scripts}
        <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
        <script src="{$basePath}/js/main.js"></script>
        <script type="text/javascript" src="{$basePath}/js/placeholder_support_IE.js"></script>
        <script type="text/javascript" src="{$basePath}/js/selectnav.min.js"></script>
        <script type="text/javascript">
            selectnav('nav-top', {
                label: '-Navigation-',
                nested: true,
                indent: '-'
            });

            selectnav('nav-bottom', {
                label: '-Navigation-',
                nested: true,
                indent: '-'
            });
        </script>
        <script src="http://code.jquery.com/jquery.js"></script>
    {/block}
</body>
</html>
