{block sidebar}
{/block}

{block content}
    <h1>Nepřehlédněte</h1>

    <h2>Vytvořit nový příspěvek</h2>
    <p><b>Upozornění: </b> Na úvodní stránce se vždy zobrazuje JEN ten poslední přidaný. Pokud jste jej přidali a chcete upravit, můžete. Nebo ho můžete nahradit jiným.</p>
    {control warningsFormComponent}

    <h2>Administrovat stávající</h2>
    <table class="table table-bordered">

        {foreach $warnings as $warn}
            <tr>
                <td>{$warn->title}</td>
                <td>{$warn->text}</td>
                <td><a href="{plink :Admin:Warning:edit $warn->id}" title="Upravit">Upravit</a></td>
            </tr>
        {/foreach}
    </table>
{/block}
{block scripts}
{/block}
{block head}
{/block}
