{block sidebar}
{/block}

{block content}
    <h1>Nepřehlédněte</h1>

    <table class="table table-bordered">

        {foreach $warnings as $warn}
            <tr>
                <td>{$warn->title}</td>
                <td>{$warn->text}</td>
                <td><a href="{plink :Admin:Warning:edit $warn->id}" title="Upravit">Upravit</a></td>
            </tr>
        {/foreach}
    </table>
{/block}
{block scripts}
{/block}
{block head}
{/block}
