{block content}
    <div class="single_page_content fix">
        <h1 style="margin-bottom:15px;">Napište nám email</h1>

        <blockquote>
            Pokud máte jakýkoliv dotaz, námět či připomínku, napište nám na náš táborový email.
        </blockquote>

        {control contactFormComponent}

    </div>
    </div>
{/block}

{block scripts}



{/block}


{block head}

{/block}
